<header>
	<div class="uk-container uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
		<div class="uk-margin uk-margin-medium-top uk-light uk-text-center uk-blend-overlay">
			<a href="{{"/" | relative_url }}"><h3 class="series-title uk-margin-remove">Solo Universe</h3></a>
			{% if page.category == 'Stargazing-with-You' %}
			<h1 class="stargazing-logo uk-margin-remove uk-visible@s">stargazing_with_you</h1>
			<h3 class="stargazing-logo uk-margin-remove uk-hidden@s">stargazing_with_you</h3>
			{% elsif page.category == 'Gone-with-the-Wind' %}
			<h1 class="lose-control-logo uk-margin-remove">Gone with the Wind</h1>
			{% elsif page.category == 'Deal-or-Love' %}
			<h1 class="lose-control-logo uk-margin-remove">Deal or Love</h1>
			{% elsif page.category == 'Lose-Control' %}
			<h1 class="lose-control-logo uk-margin-remove">Lose Control</h1>
			{% else %}
			<h1 class="lose-control-logo uk-margin-remove">{{ page.title }}</h1>
			{% endif %}
		</div>
		<div class="uk-text-center uk-margin uk-light uk-blend-overlay"><span uk-icon="icon: more; ratio: 2"></span></div>
	</div>
</header>