<header>
	<div class="uk-container uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
		<div class="uk-margin uk-margin-medium-top uk-light uk-text-center uk-blend-overlay">
			<a href="{{"/" | relative_url }}"><h3 class="series-title uk-margin-remove">Solo Universe</h3></a>
			<h1 class="stargazing-logo uk-margin-remove">stargazing_with_you</h1>
		</div>
		<div class="uk-text-center uk-margin uk-light uk-blend-overlay"><span uk-icon="icon: more; ratio: 2"></span></div>
	</div>
</header>