@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Lato:ital,wght@0,400;0,700;1,400&family=Lexend+Tera:wght@100..900&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&family=Zhi+Mang+Xing&display=swap');

html {
	background: none;
}

body {
	--color-text: #fff;
	--color-bg: #6314e0;
	--color-link: #93fbfb;
	--color-link-hover: #fff;
	--color-info: #fff;
	--color-main-text: #fff;
	--color-scroll-text: #fff;
	--font-scroll-text: 'Rock Salt', cursive;
	--fontsize-scroll-text: 8vw;
	background-color: rgba(129,25,28,1);
	transition: background-color 1s;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 20px;
}

.no-background {
	background-color: transparent!important;
	box-shadow: none!important;
}

.overlay-blend {
	mix-blend-mode: overlay;
}


.content__main, 
.content__contact {
	color: var(--color-main-text);
	z-index: 1000;
}

.content__text {
	color: var(--color-scroll-text);
	font-family: 'Rock Salt', cursive;
}

.series-title {
	font-family: 'Lexend Tera', sans-serif;
	font-variation-settings: 'wght' 100;
	color: white;
}

a:hover {
	text-decoration: none;
}

a .series-title {
	transition: font-variation-settings 0.5s;
}

a .series-title:hover {
	font-variation-settings:  'wght' 500;
}

@keyframes bigger {
	0% {font-variation-settings: "wght" 100, "wdth" 70; }
	50% {font-variation-settings: "wght" 900, "wdth" 70; }
	100% {font-variation-settings: "wght" 100, "wdth" 70; }
}
.series-title span {
	animation: bigger infinite;
	animation-duration: 2s;
	animation-timing-function: ease;
	font-variation-settings: "wdth" 70;
} 
.series-title span:nth-child(2) {animation-delay: .1s}
.series-title span:nth-child(3) {animation-delay: .2s}
.series-title span:nth-child(4) {animation-delay: .3s}
.series-title span:nth-child(5) {animation-delay: .4s}
.series-title span:nth-child(6) {animation-delay: .5s}
.series-title span:nth-child(7) {animation-delay: .6s}
.series-title span:nth-child(8) {animation-delay: .7s}
.series-title span:nth-child(9) {animation-delay: .8s}
.series-title span:nth-child(10) {animation-delay: .9s}
.series-title span:nth-child(11) {animation-delay: 1s}
.series-title span:nth-child(12) {animation-delay: 1.1s}
.series-title span:nth-child(13) {animation-delay: 1.2s}

.uk-card-title, h3, .link {
	font-family: 'Rock Salt', cursive;
}

.chinese-namecard, .year-namecard {
	font-family: 'Rock Salt', cursive;
	color: lightgray!important;
	opacity: 0.5;
	margin-bottom: -80px;
	margin-right: -10px;
	z-index: -1;
	mix-blend-mode: multiply;
}

.chinese-namecard {
	font-family: 'Zhi Mang Xing', cursive;
}

.uk-card-secondary .uk-card-body .chinese-namecard {
	opacity: 0.1;
	margin-left: -10px;
	mix-blend-mode: normal;
}

.chinese-chapter {
	color: #f0506e;
	margin-top: -10px;
}

.bg-gradient {
	background: linear-gradient(125deg, rgba(129,25,28,0.5), rgba(89,115,129,0.5));
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.uk-button, .uk-label {
	font-family: 'JetBrains Mono', monospace;
}

.uk-label:hover {
	opacity: 0.7;
	color: #666!important;
	text-decoration: none;
}

.card-icon {
	margin-top: -10px;
}

/* Series Logo */
.stargazing-logo {
	font-family: 'JetBrains Mono', monospace;
}

.stargazing-logo:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.lose-control-logo {
	font-family: 'Rock Salt', cursive;
}

/* Chapter Page */
.chapter-number {
	font-family: 'JetBrains Mono', monospace;
	margin-bottom: 10px!important;
}

.chapter-info {
	font-family: 'JetBrains Mono', monospace;
}

.uk-dropcap::first-letter, .uk-dropcap>p:first-of-type::first-letter {
	color: rgba(255,255,255,1);
	mix-blend-mode: overlay;
}

.novel-text {
	color: rgba(255,255,255,.7);
}

.novel-text blockquote {
	padding: 0 1em;
}

.novel-text blockquote :not(pre)>code {
	font-style: normal;
	font-size: 23px;
	padding: 0;
	/*line-height: 2;*/
}

.novel-text blockquote blockquote {
	padding: 0 1em;
	border-left: .25em solid #fff;
	mix-blend-mode: overlay;
}

.novel-text .chinese :not(pre)>code {
	font-style: normal;
	font-size: 15px;
	border-left: none;
	padding: 0;
	opacity: 0.5;
}

.novel-text .chinese {
	margin-top: -25px;
}

:not(pre)>code {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(255,255,255,1)!important;
	background: none!important;
	mix-blend-mode: overlay;
	white-space: normal;
}

.lyrics {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 2;
}

.lyrics div {
	mix-blend-mode: overlay;
	transition: all 0.5s ease;
}

.lyrics .active {
	/*font-size: 30px;*/
	opacity: 1;
	mix-blend-mode: hard-light;
}

.uk-comment-list, .uk-comment-title {
	font-family: 'Lato', sans-serif;
	/*font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}

.uk-comment-avatar {
	border: 2px solid white;
	mix-blend-mode: overlay;
	overflow: hidden;
	margin-top: 5px;
}

.uk-comment-body p {
	font-size: 20px;
}

.novel-text .uk-comment-list>:nth-child(n+2) {
	margin-top: 30px;
}

.novel-text .blur-text {
	filter: blur(3px);
	mix-blend-mode: overlay;
}

.novel-text dt {
	color: white;
	font-weight: 700;
} 

.novel-text .uk-description-list, .novel-text .uk-list {
	font-family: 'Lato', sans-serif;
}

.novel-text .vertical-flip {
	-webkit-transform:  scaleY(-1);
	transform:  scaleY(-1);
}

.novel-text p img {
	margin: 20px 0;
}

.player-artist {
	color: #666;
	margin-top: -10px;
}

.novel-text .uk-link-heading a:hover, .novel-text .uk-link-toggle:focus .uk-link-heading, .novel-text .uk-link-toggle:hover .uk-link-heading, .novel-text a.uk-link-heading:hover {
	/*color: #1e87f0!important;*/
	color: #f0506e;
	text-decoration: none;
}