---
layout: default
comments: true
---

<style type="text/css">
  /*@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');*/

  body {
    background: linear-gradient(125deg, #597381, #314C5D, #451C46);;
    background-color: rgba(89,115,129,1);
  }

  .bg-wall {
    background: url('/assets/img/concrete-wall.png');
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  /*.redacted {
    font-family: 'Redacted Script', cursive;
  }*/
</style>

{% assign chapter_number = page.title | remove: 'Chapter ' %}
<div class="bg-wall overlay-blend"></div>
<div class="uk-container uk-margin-medium-top">
  <div class="uk-flex uk-flex-center uk-grid overlay-blend">
    <div class="uk-flex-center uk-flex-middle uk-grid-divider uk-light" uk-grid>
      <div class="uk-text-right">
        <h1 class="chapter-number">EP{{ chapter_number | prepend: '000' | slice: -3, 3 }}</h1>
        <div class="chapter-info uk-text-meta">{% include read_time.html content=page.content %}</div>
      </div>
      <div>
        <ul class="chapter-info uk-list uk-list-square uk-text-meta">
          <li class=""><b>TL:</b> {{ page.author }}</li>
          <li class=""><b>PR:</b> {{ page.editor }}</li>
          <li class=""><b>{{ page.date | date: '%B %d, %Y' }}</b></li>
          <!-- <li class="">{% include read_time.html content=page.content %}</li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="uk-grid" uk-grid>
    <div class="uk-width-1-5 uk-visible@m"></div>
    <div class="uk-width-1-1 uk-width-3-5@m">
      <div class="uk-light novel-text">

        {{ content }}

        {% if page.previous.url %}
        <!-- <a class="uk-button uk-button-default uk-margin overlay-blend" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><span uk-icon="chevron-left"></span> Previous Chapter</a> -->
        {% endif %}
        {% if page.next.url %}
        <a class="uk-float-right uk-button uk-button-default uk-margin overlay-blend" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">Next Chapter <span uk-icon="chevron-right"></span></a>
        {% endif %}
        
        {% if page.comments %}
        <div class="uk-text-center uk-margin uk-blend-overlay"><span uk-icon="icon: more; ratio: 2"></span></div>
        
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
            this.page.url = '{{site.url}}{{page.url}}';
            this.page.identifier = '{{ page.id }}';
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://solo-universe.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

      </div>
    </div>

    <div class="uk-width-1-5 uk-visible@m"></div>
  </div>
</div>